:root {
    --bg-color: rgb(240, 240,190);
    --depart-color: rgb(175, 25, 30);
    --right-bg-color: rgb(220, 190, 150);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ticket {
    background-color: var(--bg-color);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 6rem;
    display: flex;
}

.ticketInfo {
    display: grid;
    margin: 10px;
    margin-bottom: 0px;
    background-color: var(--bg-color);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
}

.ticketLeft {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    object-fit: contain;
}
.ticketUnderline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ticketDescr {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
}

.ticketDescr hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

.barCode {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 60px;
    background-image: url(/img/Barcode.png);
    background-position: bottom;
    background-size: cover;
    text-align: center;
}

.barCode h4 {
    color: red;
    letter-spacing: 2px;
    font-size: 0.7rem;
}


.icon {
    font-size: 1.5rem;
    background-color: black;
    color: var(--bg-color);
    display: flex;
    align-items:flex-start;
    padding: 8px;
    border-radius: 10px;
}

.ticketDescr h5 {
    font-size: 0.4rem;
    margin: 0;
}

.ticketInfo div {
    padding: 2px;
    border: 1px solid black;
}

.ticketInfo h5 {
    font-size: 0.5rem;
    margin: 0.2rem;;
}

.ticketInfo h4, 
.ticketInfo p {
    font-size: 1rem;
    margin: 0.2rem;
}


.title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    text-align: center;
    background-color: black;
}
.title h2 {
    margin: 0.5rem;
    color: var(--bg-color);
    letter-spacing: 0.4rem;
}
.passenger {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 7;
}
.platform {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: var(--depart-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.platform h3 {
    margin: 0.1rem auto;
    letter-spacing: 0.18rem;
}
.platform h2 {
    margin: 0.1rem auto;
    letter-spacing: 0.3rem;
}
.platform h1 {
    margin: 0.2rem auto;
    font-size: 3rem;
}

.depart {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}

.arrive {
    grid-row: 3;
    grid-column-start: 4;
    grid-column-end: 7;
}

.code {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

.ticketSaleType {
    grid-row: 4;
    grid-column-start: 4;
    grid-column-end: 7;
}

.ticketRight {
    width: 100px;
    height: 100%;
    background-color: var(--right-bg-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px dashed black;
    padding-right: 10px;
}

.rightGrid {
    display: grid;
    width: 200px;
    height: 80px;
    margin: 10px;
    margin-bottom: 0px;
    background-color: var(--right-bg-color);
    grid-template-rows: 0.8fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    transform: rotate(270deg);
    margin-left: -50px;
    margin-top: 70px;
}

.rightGrid div {
    border: 1px solid var(--depart-color);
}

.rightTitle {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    box-sizing: border-box;
    background-color: var(--depart-color);
}

.rightTitle h3 {
    font-size: 1rem;
    margin: 0.2rem;
    color: white;
    letter-spacing: 0.08rem;
}

.rightGrid div h5 {
    font-size: 0.3rem;
    margin: 0.2rem;;
}

.rightGrid div h4, 
.rightGrid div p {
    font-size: 0.7rem;
    margin: 0.2rem;
}

.ticketRight .barCode {
    width: 80px;
}

.textUppercase {
    text-transform: uppercase;
}

.ticketDescr h5 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.ticketDescr h5:first-of-type {
    border-bottom: 1px dashed black;
    padding-bottom: 4px;
}