:root {
    --bg-color: antiquewhite;
    --depart-color: red;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ticket {
    background-color: var(--bg-color);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2rem;
}

.ticketInfo {
    display: grid;
    margin: 10px;
    margin-bottom: 0px;
    background-color: var(--bg-color);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
}

.ticketLeft {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    object-fit: contain;
}
.ticketUnderline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
}

.ticketDescr {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.ticketDescr hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

.barCode {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    margin-left: 10px;
    margin-right: 10px;
    width: 140px;
    height: 60px;
    background-image: url(/img/Barcode.png);
    background-position: bottom;
    background-size: cover;
    text-align: center;
}

.barCode h4 {
    color: red;
    letter-spacing: 2px;
    font-size: 0.7rem;
}


.icon {
    height: 95%;
    font-size: 2rem;
    background-color: black;
    color: var(--bg-color);
    display: flex;
    align-items:flex-start;
    padding: 8px;
    border-radius: 10px;
}

.ticketDescr h5 {
    font-size: 0.4rem;
    margin: 0;
}

.ticketInfo div {
    padding: 2px;
    border: 1px solid black;
}

.ticketInfo h5 {
    font-size: 0.5rem;
    margin: 0.2rem;;
}

.ticketInfo h4, 
.ticketInfo p {
    font-size: 1rem;
    margin: 0.2rem;
}


.title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    text-align: center;
    background-color: black;
}
.title h2 {
    margin: 0.5rem;
    color: var(--bg-color);
}
.passenger {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 7;
}
.platform {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: var(--depart-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.platform h3 {
    margin: 0.2rem;
}
.platform h2 {
    margin: 0.2rem;
}
.platform h1 {
    margin: 0.2rem;
}

.depart {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}

.arrive {
    grid-row: 3;
    grid-column-start: 4;
    grid-column-end: 7;
}

.code {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

.ticketSaleType {
    grid-row: 4;
    grid-column-start: 4;
    grid-column-end: 7;
}


